@model List<BankApp.Models.ApplicationUser>
@{
    ViewData["Title"] = "DeleteUserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete User List</h2>
<div class="table2" style="border: solid; border-radius: 8px;">
    <table style="width:100%; text-align:center" class="table-hover; font-size:large; border: solid; border-radius:8px;">
        <thead>
            <tr style="height:50px; text-align:center; background-color:black; ">
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Address</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr onclick="location.href ='@(Url.Action("detailsAdminView", "Home", new { id = user.Id }))'" style="cursor:pointer; font-size:large; height:80px; color:black; background-color:white;">
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Address</td>
                </tr>
            }
        </thead>
    </table>
    </div>
    <br />
    <input type="submit" value="BACK TO MAIN" onclick="location.href='@Url.Action("MainPage", "Home")'; return true" />
