
@{
    ViewData["Title"] = "MainPage";
}

<h2>MainPage</h2>

<input type="button" value="Delete" onclick="location.href='@Url.Action("ActionResult", "Account")'" />
<input type="button" value="Edit" onclick="location.href='@Url.Action("ActionResult", "Account")'" />
<input type="button" value="Register" onclick="location.href='@Url.Action("ActionResult", "Account")'" />
<input type="button" value="List" onclick="location.href='@Url.Action("ActionResult", "Account")'" />

@Html.ActionLink("Delete Client", "Delete")
@Html.ActionLink("Edit Client", "Edit")
@Html.ActionLink("Register Client", "Register")
@Html.ActionLink("List Client", "List")

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


