@model List<BankApp.Models.ApplicationUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>
<table width:"85%", class="table-hover">
    <thead>
        <tr>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Gender</th>
            <th style="text-align:center">Username</th>
            <th style="text-align:center">Email</th>
            <th style="text-align:center">Phone Numver </th>
            <th style="text-align:center">Address</th>
            <th style="text-align:center">City</th>
            <th style="text-align:center">Date of Birth</th>
            <th style="text-align:center">Administer</th>
        </tr>
        @foreach (var user in Model)
        {
        <tr onclick="location.href = '@(Url.Action("Details", "Account", new { id = user.Id }))'" style="cursor:pointer">
            <td>@user.FirstName</td>
            <td>@user.Gender</td>
            <td>@user.UserName</td>
            @if (user.EmailConfirmed == true)
            {
            <td>@user.Email</td>
            }
            else
            {
                <td> </td>
            }
            <td>@user.PhoneNumber</td>
            <td>@user.Address</td>
            <td>@user.City</td>
            <td>@user.DOB</td>
            @if (@user.IsAdmin == true)
            {
            <td>Administer</td>
            }


        </tr>
        
        }
    </thead>
</table>

